@using PostApp.Utilities.SessionOperations
@{
    if (Session["SessionContext"] == null)
    {
        Response.Redirect("/Login");
    }

    var FullName = ((SessionContext)Session["SessionContext"]).FullName;
    var Job = ((SessionContext)Session["SessionContext"]).Job;
    var ImageUrl = ((SessionContext)Session["SessionContext"]).ImageUrl;



}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link href="~/Content/css/admin.css" rel="stylesheet" />
</head>
<body>


    <div class="mail-box">
        <aside class="sm-side">
            <div class="user-head">
                <a class="inbox-avatar" href="javascript:;">
                    <img width="64" hieght="60" src="@ImageUrl">
                </a>
                <div class="user-name">
                    <h5><a href="#">@FullName</a></h5>
                    <span><a href="#">@Job</a></span>
                </div>
                <a class="mail-dropdown pull-right" href="javascript:;">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>

            <div class="inbox-nav">

                <ul class="inbox-nav inbox-divider">
                    <li class="active">
                        <a href="#"><i class="fa fa-inbox"></i> Inbox <span class="label label-danger pull-right">2</span></a>
                    </li>
                    <li> <a href="#"><i class="fa fa-envelope-o">send mail</i> </a> </li>

                </ul>
                <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
                    <li> <h4>Labels</h4> </li>
                    <li> <a href="#"> <i class=" fa fa-sign-blank text-danger"></i> Work </a> </li>

                </ul>

            </div>

        </aside>
        <aside class="lg-side">
            <div class="inbox-head">
                <h3>Inbox</h3>
                <form action="#" class="pull-right position">
                    <div class="input-append">
                        <input type="text" class="sr-input" placeholder="Search Mail">
                        <button class="btn sr-btn" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="inbox-body">
                @RenderBody()
            </div>
        </aside>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
